<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= content_tag(:div, f.error_notification, :class => "alert-message error") if f.object && f.object.respond_to?(:errors) && f.object.errors.present? %>

  <div class="inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, :input_html => { :class => '<%= attribute.simple_form_input_class %>' } %>
  <%- end -%>
  </div>

  <div class="actions">
    <%%= f.button :submit, :class => "btn primary" %>
  </div>
<%% end %>

