= simple_form_for(@<%= singular_table_name %>) do |f|
  -if @<%= singular_table_name %>.errors.any?
    .alert-message.error
      = f.error_notification

  .inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  .actions
    = f.button :submit, :class => "btn primary"

