= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, :input_html => { :class => '<%= attribute.simple_form_input_class %>' }
  <%- end -%>

  .actions
    = f.button :submit, :class => "btn primary"

