<div class="page-header">
  <%%= link_to 'Back', <%= index_helper %>_path, :class => 'btn' %>
  <%%= link_to 'Show', @<%= singular_table_name %>, :class => 'btn btn-primary' %>
  <h1>Editing <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>
